html, body {
	margin: 0;
	overflow: hidden;
	background-color: black;
}
@keyframes question-animation {
	to {
		transform: rotate(360deg);
	}
	from {
		transform: rotate(0deg);
	}
}
.question-mark {
	position: absolute;
	font-size: 300px;
	animation-name: question-animation;
    animation-duration:	700ms;
    animation-direction	forwards;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition: left 5s, top 5s;
	transition-timing-function: linear;
}
.question-mark:after {
	content: '?';
}
